@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    background-color: #202b38;
    color: #dbdbdb;
}

input,
button, 
textarea {
    @apply bg-dark-blue;
    @apply rounded-md;
}

input, 
button {
    @apply h-10;
}

button {
    @apply font-semibold;
}