input {
    width: 100%;
    box-sizing: border-box;
}
input, textarea {
    margin-top: 1vh;
}
label {
    font-size: larger;
    display: block;
}
#message{
    height: 50vh;
}

@media only screen and (max-width: 320px) {
    /**/
}

@media only screen and (max-height: 385px) {
}

@media only screen and (max-width: 550px) {
}
